dice-toolbar .container {
  background-color: var(--color-black-09);
  border-radius: 0.5rem;
  padding: 2rem;
}

dice-toolbar .container--hidden {
  visibility: hidden;
}

dice-toolbar .total {
  color: var(--color-black-01);
  text-align: center;
}

dice-toolbar .total__count {
  display: block;
  font-size: 3rem;
  font-weight: bold;
}

dice-toolbar .total__label {
  display: block;
  font-size: calc(20rem/16);
  letter-spacing: 0.1em;
}

dice-toolbar .buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem -1rem -1rem;
}

dice-toolbar .button {
  background-color: var(--color-black-07);
  border: calc(4rem/16) solid var(--color-black-05);
  border-radius: 0.25rem;
  color: var(--color-black-01);
  flex-grow: 1;
  font-size: calc(18rem/16);
  font-weight: bold;
  line-height: calc(40rem/16);
  padding: 0 1rem;
  margin: 1rem;
  white-space: nowrap;
}

dice-toolbar .button:focus,
dice-toolbar .button:hover {
  border-color: var(--color-black-01);
  outline: none;
}

dice-toolbar .button:active {
  background-color: var(--color-black-08);
}
