dice-tray > .section {
  text-align: center;
}

dice-tray > .section ~ .section {
  margin-top: 2rem;
}

dice-tray > .section--divider {
  border-top: 0.25rem solid var(--color-black-09);
  padding-top: 2rem;
}

dice-tray > .section--card {
  background-color: var(--color-black-09);
  border-radius: 0.5rem;
  padding: 2rem;
}

dice-tray > .section--spread {
  display: flex;
  justify-content: space-between;
}

dice-tray .section__heading {
  font-size: calc(18rem/16);
  margin: 0;
}

dice-tray .total {
  padding-top: 2rem;
}

dice-tray .total__count {
  display: block;
  font-size: 3rem;
  font-weight: bold;
}

dice-tray .total__label {
  display: block;
  font-size: calc(20rem/16);
  letter-spacing: 0.1em;
}

dice-tray .buttons {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

dice-tray > .dice-set {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 4rem);
  justify-content: center;
}

dice-tray > .locked > p {
  color: var(--color-black-03);
  margin: 0;
}

dice-tray .favorite__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dice-tray .favorite__item {
  padding-top: 1rem;
}

dice-tray .favorite__button {
  padding-bottom: 0.5rem;
}
