dice-header {
  border-bottom: 0.25rem solid var(--color-black-09);
  display: block;
  margin: 0 2rem;
  padding: 1rem 0;
}

dice-header .heading {
  font-size: calc(24rem/16);
  line-height: 1;
  margin: 0;
  text-align: center;
}
