dice-toolbar .container {
  background-color: var(--color-black-09);
  border-radius: 0.5rem;
  padding: 2rem;
}

dice-toolbar .container--hidden {
  visibility: hidden;
}

dice-toolbar .total {
  color: var(--color-black-01);
  text-align: center;
}

dice-toolbar .total__count {
  display: block;
  font-size: 3rem;
  font-weight: bold;
}

dice-toolbar .total__label {
  display: block;
  font-size: calc(20rem/16);
  letter-spacing: 0.1em;
}

dice-toolbar .buttons {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
