dice-tray > .dice-set {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 4rem);
  justify-content: center;
}

dice-tray > .buttons {
  border-top: 0.25rem solid var(--color-black-09);
  margin-top: 2rem;
  padding-top: 2rem;
  text-align: center;
}
